## creating Pandas series

In [3]:
# Creating a series from array
import pandas as pd
import numpy as np
data = np.array(['N','a','r','u','t','o']) 
ser = pd.Series(data)
print(ser)
# Creating a series from Lists
list = ['U', 'z', 'u', 'm', 'a','k','i']
ser = pd.Series(list)
print(ser)

0    N
1    a
2    r
3    u
4    t
5    o
dtype: object
0    U
1    z
2    u
3    m
4    a
5    k
6    i
dtype: object

## Accessing elements

In [6]:
import pandas as pd
import numpy as np
 
data = np.array(['N','a','r','u','t','o','U', 'z', 'u', 'm', 'a','k','i']) 
ser = pd.Series(data)  
#retrieve the first 6 element
print(ser[:6])
print(ser[6:])
# accessing a element using index element
print(ser[3])
# accessing two different element using index element
print(ser[[0,6]])

0    N
1    a
2    r
3    u
4    t
5    o
dtype: object
6     U
7     z
8     u
9     m
10    a
11    k
12    i
dtype: object
u
0    N
6    U
dtype: object

## Import cvs files using read_cvs()

#### My cvs file is in c folder
#### to know your current directory use pwd command

In [36]:
pwd

'C:\\Users\\Admin'

#### to change the directory use s cd command

In [37]:
cd C:\\

C:\

In [55]:
import pandas as pd

In [70]:
cvs = pd.read_csv("Olympics.csv")  # filename.cvs

In [72]:
cvs

,Gender,Event,venues,Year,Medal,Name,Country,Time
0,M,100M Men,Sydney,2000,G,Maurice GREENE,USA,9.87
1,M,100M Men,Sydney,2000,S,Ato BOLDON,TTO,9.99
2,M,100M Men,Sydney,2000,B,Obadele THOMPSON,BAR,10.04
3,M,110M Hurdles Men,Sydney,2000,G,Anier GARCIA,CUB,13
4,M,110M Hurdles Men,Sydney,2000,S,Terrence TRAMMELL,USA,13.16
...,...,...,...,...,...,...,...,...
110,M,5000M Men,Rio,2016,S,Paul Kipkemoi CHELIMO,USA,13:03.9
111,M,5000M Men,Rio,2016,B,Hagos GEBRHIWET,ETH,13:04.3
112,M,Marathon Men,Rio,2016,G,Eliud Kipchoge ROTICH,KEN,2:08:44
113,M,Marathon Men,Rio,2016,S,Feyisa LILESA,ETH,2:09:54
114,M,Marathon Men,Rio,2016,B,Galen RUPP,USA,2:10:05

## Indexing and Selecting Data in Series

In [73]:
import pandas as pd 
# ** Pandas Series is a one-dimensional labeled array
# capable of holding dataof any type. **
# making a series 
ser = pd.Series(cvs['Name'])
data = ser.head(10) # first 10 rows under column "Name"
data

0       Maurice GREENE
1           Ato BOLDON
2     Obadele THOMPSON
3         Anier GARCIA
4    Terrence TRAMMELL
5           Mark CREAR
6      Kostas KENTERIS
7      Darren CAMPBELL
8           Ato BOLDON
9      Michael JOHNSON
Name: Name, dtype: object

In [74]:
# creating a Dataframe
df=pd.DataFrame(cvs)
df

,Gender,Event,venues,Year,Medal,Name,Country,Time
0,M,100M Men,Sydney,2000,G,Maurice GREENE,USA,9.87
1,M,100M Men,Sydney,2000,S,Ato BOLDON,TTO,9.99
2,M,100M Men,Sydney,2000,B,Obadele THOMPSON,BAR,10.04
3,M,110M Hurdles Men,Sydney,2000,G,Anier GARCIA,CUB,13
4,M,110M Hurdles Men,Sydney,2000,S,Terrence TRAMMELL,USA,13.16
...,...,...,...,...,...,...,...,...
110,M,5000M Men,Rio,2016,S,Paul Kipkemoi CHELIMO,USA,13:03.9
111,M,5000M Men,Rio,2016,B,Hagos GEBRHIWET,ETH,13:04.3
112,M,Marathon Men,Rio,2016,G,Eliud Kipchoge ROTICH,KEN,2:08:44
113,M,Marathon Men,Rio,2016,S,Feyisa LILESA,ETH,2:09:54
114,M,Marathon Men,Rio,2016,B,Galen RUPP,USA,2:10:05

In [75]:
print(df)

    Gender             Event  venues  Year Medal                   Name  \
0        M          100M Men  Sydney  2000     G         Maurice GREENE
1        M          100M Men  Sydney  2000     S             Ato BOLDON
2        M          100M Men  Sydney  2000     B       Obadele THOMPSON
3        M  110M Hurdles Men  Sydney  2000     G           Anier GARCIA
4        M  110M Hurdles Men  Sydney  2000     S      Terrence TRAMMELL
..     ...               ...     ...   ...   ...                    ...
110      M         5000M Men     Rio  2016     S  Paul Kipkemoi CHELIMO
111      M         5000M Men     Rio  2016     B        Hagos GEBRHIWET
112      M      Marathon Men     Rio  2016     G  Eliud Kipchoge ROTICH
113      M      Marathon Men     Rio  2016     S          Feyisa LILESA
114      M      Marathon Men     Rio  2016     B             Galen RUPP

    Country     Time
0       USA     9.87
1       TTO     9.99
2       BAR    10.04
3       CUB       13
4       USA    13.16
..      ...      ...
110     USA  13:03.9
111     ETH  13:04.3
112     KEN  2:08:44
113     ETH  2:09:54
114     USA  2:10:05

[115 rows x 8 columns]

## Binary Operation on Series

In [99]:
import pandas as pd  
data = pd.Series([5, 2, 3,7], index=['3', '6', '9', '12'])
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
print(data, "\n\n", data1)

3     5
6     2
9     3
12    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

In [102]:
# adding two series using
# .add
data.add(data1, fill_value=0)

12    7.0
3     5.0
6     2.0
9     3.0
a     1.0
b     6.0
d     4.0
e     9.0
dtype: float64

In [103]:
data1.add(data, fill_value=0)

12    7.0
3     5.0
6     2.0
9     3.0
a     1.0
b     6.0
d     4.0
e     9.0
dtype: float64

In [104]:
# subtracting two series using
# .sub
data.sub(data1, fill_value=0)

12    7.0
3     5.0
6     2.0
9     3.0
a    -1.0
b    -6.0
d    -4.0
e    -9.0
dtype: float64

In [105]:
data1.sub(data, fill_value=0)

12   -7.0
3    -5.0
6    -2.0
9    -3.0
a     1.0
b     6.0
d     4.0
e     9.0
dtype: float64

## Conversion Operation on Series

In [113]:
# to convert a datatype of series

import pandas as pd 

data = pd.read_csv("Olympics.csv") 
    
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["Year"]= data["Year"].astype(str)
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 Gender     object
Event      object
venues     object
Year        int64
Medal      object
Name       object
Country    object
Time       object
dtype: object

AFTER CONVERSION
 Gender     object
Event      object
venues     object
Year       object
Medal      object
Name       object
Country    object
Time       object
dtype: object

In [117]:
# to convert a series into list

# importing regex module 
import re 
import pandas as pd 

data = pd.read_csv("Olympics.csv") 
    
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 

# storing dtype of a series(column) before converting 
dtype_before = type(data["Year"]) 

# converting to list 
salary_list = data["Year"].tolist()

# storing dtype after operation 
dtype_after = type(salary_list) 
   
# printing dtype 
print("Data type before converting = ",dtype_before) 
print("Data type after converting = ",dtype_after)    
# displaying list 
salary_list

Data type before converting =  <class 'pandas.core.series.Series'>
Data type after converting =  <class 'list'>

[2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2000,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2004,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2008,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016]